rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows anyone with your Firestore database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 6 more months (until 2026-01-08).
    // Make sure to write proper security rules before this date.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 1, 8);
    }
  }
}
